@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--nunito: 'Nunito', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #EA1D2C;
	--redhover: #eb3c48;
	--green: #65B307;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
	--red: #FF5F5F;
    --green: #33FF99;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}



.sidebar {
	background: var(--light);
    color: var(--dark);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 252px;
	transition: width 0.3s ease;
}


.sidebar .logo-info {
    height: 23%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-info img {
    width: 130px;
}

.sidebar .logo-nome {
    font-size: 22px;
    color: #000000;
    font-weight: 600;
}

.sidebar .nav-links {
    height: 100%;
}


.sidebar .nav-links li {
    position: relative;
    list-style: none;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.sidebar .nav-links li:hover{
    background: var(--red);
}


.sidebar .nav-links li i{
    height: 50px;
    min-width: 61px;
    text-align: center;
    line-height: 50px;
    color: var(--dark);
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    padding: 3px;
    text-decoration: none;
}

.sidebar .nav-links li a .link-nome {
    font-size: 18px;
    font-weight: 400;
    color: var(--dark);
}

.sidebar .perfil-config{
    position: fixed;
    bottom: 0;
	width: 252px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0px;
	background: var(--grey);
    color: var(--dark);
	transition: left 0.3s ease, width 0.3s ease;
}

.sidebar .perfil-config .conteudo-perfil{
    display: flex;
    align-items: center;
}

.sidebar .perfil-config img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #bdafaf;
    padding: 10px;
}

.sidebar .perfil-config .nome-entidade {
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
}

.sidebar .perfil-config .situacao {
	color: var(--green);
    font-size: 12px;
}

.situacao{
    font-size: 18px;
    font-weight: 400;
}

.home-secao{
    position: relative;
    background: whitesmoke;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px; /* Ajuste para o tamanho que preferir */
}

.sidebar.close .logo-info img {
    width: 44px;
    transition: all 0.5s ease;
    transform: translateX(-2px);
}

.sidebar.close .perfil-config {
    width: 78px;
    padding: 6px;
}

.sidebar.close .perfil-config i {
    margin: 0 auto;
}

.sidebar.close .perfil-config .nome-entidade,
.sidebar.close .perfil-config .situacao,
.sidebar.close .perfil-config .conteudo-perfil img {
    display: none; 
}

.sidebar.close .link-nome {
    display: none;
}


.sidebar.close ~ .home-secao{
    left: 65px;
    width: calc(100% - 78px);
}

.home-secao .home-conteudo{
    height: 60px;
    display: flex;
    align-items: center;
}



.home-secao .home-conteudo .bx-menu,
.home-secao .home-conteudo .texto{
    color: black;
    font-size: 35px;
}

.home-secao .home-conteudo .bx-menu{
    margin: 0 15px;
}

.home-secao .home-conteudo .texto{
    font-size: 26px;
    font-weight: 600;
}


/* CONTEUDO */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: width 0.3s ease, left 0.3s ease;
}
#sidebar.close ~ #content {
	width: calc(100% - 60px);
	left: 78px;
}


/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--nunito);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--red);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--red);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
	background: #bdafaf;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--red);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */



/* PRINCIPAL */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--nunito);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--red);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--red);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}



#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}





#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	background: #bdafaf;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--green);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--green);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* PRINCIPAL */
/* CONTEUDO */


/* PLANOS */


.planos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.plano {
    background: var(--light);
    border: 1px solid var(--grey);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    width: 300px; 
    text-align: center;
}

.plano img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.info {
    padding: 20px;
    color: var(--dark);
}

.info h2 {
    margin-top: 0;
}

.info ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.info ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: var(--dark);
}

.info ul li i {
    margin-right: 10px;
    color: var(--red);
}

button {
    background-color: var(--red);
    color: var(--light);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--redhover);
}

/* PLANOS */




/* FINANCEIRO */

.vendas {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.venda {
    background: var(--light);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 20px;
}

.venda .info {
    width: 100%;
}

.venda .info h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: var(--primary);
}

.venda .info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.venda .info ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.month-sales {
    font-weight: bold;
    color: var(--dark);
    margin-right: 10px;
}

.progress-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: var(--lightgray);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 10px;
}

.progress {
    height: 100%;
    background-color: var(--red);
    transition: width 0.3s ease;
}

.progress-percent {
    font-size: 0.7em;
    color: var(--dark);
	white-space: nowrap;
}

.venda .info button {
    background-color: var(--red);
    color: var(--light);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}

.venda .info button:hover {
    background-color: var(--redhover);
}

/* FINANCEIRO */



/* DESEMPENHO */


.desempenho {
    background: var(--light);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 20px;
	padding: 20px;
    box-sizing: border-box;
}

.desempenho .info {
    width: 100%;
	margin-bottom: 20px;
}

.desempenho .info h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: var(--primary);
	text-align: center;
}

.metrics {
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
    margin-bottom: 20px;
}

.metric {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    background: var(--lightgray);
    border-radius: 5px;
    text-align: center;
}

.metric h3 {
    margin: 0;
    font-size: 1.2em;
}

.metric p {
    font-size: 1.5em;
    color: var(--dark);
    margin: 0;
}

.grafico {
    width: 100%;
}

.bar-chart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bar {
    padding: 10px;
    color: var(--light);
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.bar::after {
    content: attr(data-month);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
    color: var(--dark);
}

.desempenho .info button {
    background-color: var(--red);
    color: var(--light);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
	margin-top: 10px;
}

.desempenho .info button:hover {
    background-color: var(--redhover);
}


/* DESEMPENHO */




/* PARA VOCE */

.para-voce {
    padding: 20px;
    background: var(--light);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.para-voce h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--dark);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.card {
    background: var(--white);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
	cursor: pointer;
}

.card i {
    font-size: 2em;
    color: var(--primary);
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: var(--dark);
}

.card p {
    color: var(--dark);
    font-size: 1em;
}


/* PARA VOCE */










/* TELA DINAMICA */

@media (max-width: 768px) {
    .sidebar {
        width: 60px;
    }

    .sidebar .logo-info img {
        width: 30px;
        transition: all 0.5s ease;
        transform: translateX(0px);
    }

    .sidebar .nav-links li a .link-nome {
        display: none;
    }

    .sidebar .perfil-config {
        flex-direction: column; 
        align-items: center;
    }

    .sidebar .perfil-config .nome-entidade, 
    .sidebar .perfil-config .situacao {
        display: none;
    }

    #content {
        width: calc(100% - 60px);
        left: 60px;
    }

	.metrics {
        flex-direction: column;
    }

    .metric {
        flex: 1 1 100%;
    }

    .bar-chart {
        flex-direction: column;
    }

    .bar {
        flex: 1 1 auto;
        margin-bottom: 5px;
    }

	.card {
        flex: 1 1 calc(100% - 20px); 
        max-width: calc(100% - 20px);
    }
}







@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}

@media (max-width: 480px) {
    .desempenho .info h2 {
        font-size: 1.5em;
    }

    .metrics {
        flex-direction: column;
    }

    .metric {
        font-size: 0.9em;
    }

    .grafico h3 {
        font-size: 1.2em;
    }

    .bar {
        font-size: 0.8em;
    }
}



/* TELA DINAMICA */